@font-face {
    font-family: "Museo";
    src: url("fonts/MuseoSans-500.otf");
}

body {
    font-family: "Museo";
    font-size: 4vw;
}

.container {
    background-image: url(../images/IMG_6954-water.jpg), linear-gradient(180deg, rgb(81, 0, 255), rgb(234, 255, 0));
    background-size: 10vw;
    min-height: 100vh;
    background-color: cornflowerblue;
    background-blend-mode: multiply;
}

img.water {
    width: 20vw;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 300px;
    display: inline-block;
}

img {
    width: 100%;
}

.info {
    font-family: 'Jost', Sans-serif;
    padding: 0.5rem;
}

h4,
p {
    margin: 0px;
    padding: 0px;
}